.menu {
    background-color: transparent;
    width: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.main-menu,
.sidebar {
    background-color: #fff;
    height: max-content;
}

.main-menu {
    width: 65%;
}

.menu > * {
    border: 1px solid #e6e4e4;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.055);
    padding: 1rem;
}

.icon {
    width: 36px;
}

.menu .title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
}

.menu .description {
    font-size: 0.8rem;
    color: #5a5959;
}

.main-menu ul {
    margin: 1rem 0;
    border-bottom: 1px solid #cacaca;
}

.main-menu li {
    padding: 0.5rem;
    border-radius: 8px;
    line-height: 1.4;
}

.main-menu li > * {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    gap: 0.5rem;
}

.menu li:hover {
    background-color: #f0efef;
    cursor: pointer;
}

.menu img {
    width: 100%;
    height: 100%;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 1rem 0.5rem;
}

.sidebar li {
    padding: 0.5rem 0;
    border-radius: 8px;
}

.sidebar li > * {
    display: flex;
    align-items: center;
    gap: 0.5rem;   
}

.sidebar li .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}