.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: red;
    z-index: 2;
}

.modal {
    position: fixed; 
    top: 0;
    background-color: #f3f3f5;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    z-index: 123;
}

.content {
    background-color: transparent;
    position: fixed;
    margin: auto;
    z-index: 345;
}